@{
    ViewData["Title"] = "My Dashboard";
}
<div class="bg-transparent">
    <div><br /></div>
    <div class="col-lg-12 text-center align-content-lg-center">
        <a asp-action="TakeSurvey" asp-controller="Survey"><img src="~/image/takeoursurvey.jpg" class="justify-content-xl-center" style="width:70%; height:30%" /></a>
    </div>
    <div><br /></div>

    <div class="col-lg-12 text-center text-info font-weight-bolder" style="font-size:larger"><a asp-action="TakeSurvey" asp-controller="Survey">Click here to start the survey!</a></div>
    <div><br /></div>

</div>