@{
    ViewData["Title"] = "Women on the Move";
}


<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 float-left">
                <div class="card-header">
                    <img class="card-img-top" src="~/image/course1.png" alt="Card image cap">
                </div>
            </div>
            <div class="col-lg-6 float-right">
                <div class="row h5">
                    <div class="col-lg-6 float-right text-info">
                        Coach Name:
                    </div>
                    <div class="col-lg-6 float-left">
                        Jodi Moore
                    </div>
                </div>
                <br />

                <div class="row h5">
                    <div class="col-lg-6 float-right text-info">
                        Coach Duration:
                    </div>
                    <div class="col-lg-6 float-left">
                        1h 30min
                    </div>
                </div>
                <br />
                <div class="row h5">
                    <div class="col-lg-6 float-right text-info">
                        Course Description:
                    </div>
                    <div class="col-lg-6 float-left text-justify">
                        Success is the result of perfection, hard work, learning from failure, loyalty, and persistence.By: Colin Powell
                    </div>
                </div>
            </div>
        </div>
        <br />
        <br />
        <br />
        <div class="card card-body py-5 ">
            <h4>
                <a class="list-group-item d-flex justify-content-between align-items-center" asp-controller="Client" asp-action="StudentClassInfo">
                    1.  Dapibus ac facilisis in
                    <span class="badge badge-pill">1m 3sec</span>
                </a>
            </h4>
            <div class="progress mb-3">
                <div class="progress-bar bg-success" style="width:100%"></div>
            </div>
            <h4>
                <a class="list-group-item d-flex justify-content-between align-items-center list-group-item-success" asp-controller="Client" asp-action="StudentClassInfo">
                    2.  This is a secondary list group item
                    <span class="badge badge-pill">5m 0sec</span>
                </a>
            </h4>
            <div class="progress mb-3">
                <div class="progress-bar bg-success" style="width:35%"></div>
            </div>
            <h4>
                <a class="list-group-item d-flex justify-content-between align-items-center list-group-item-danger" asp-controller="Client" asp-action="StudentClassInfo">
                    1.  Dapibus ac facilisis in
                    <span class="badge badge-pill">1m 3sec</span>
                </a>
            </h4>
            <div class="progress mb-3">
                <div class="progress-bar bg-success" style="width:0%"></div>
            </div>

        </div>


    </div>


</section>