
@{
    ViewData["Title"] = "Planning & Financing Management ";
}
<h1 class="text-center text-info">Planning & Financing Management</h1><br />

<div class="row justify-content-xl-center">
    <a class="btn btn-primary" asp-controller="Discussion" asp-action="DiscussionList" role="button">Discussion</a>&emsp;&emsp;
    <a class="btn btn-info" asp-controller="Discussion" asp-action="CheckProgress" role="button">Check Progress</a>&emsp;&emsp;
    <a class="btn btn-dark" asp-controller="Discussion" asp-action="Quiz" role="button">Take a Quiz</a>&emsp;&emsp;
    <a class="btn btn-success" asp-controller="Discussion" asp-action="Index" role="button">Back to Course Menu</a>
    @*<a class="btn btn-danger" asp-controller="Discussion" asp-action="DiscussionList" role="button">Discussion</a>*@&emsp;&emsp;



</div>
<br />
<div class="col-lg-12 text-center">
    <img src="~/image/Play_Button.png" class="justify-content-xl-center" style="width:70%; height:20%" />

</div>



