
@{
    ViewData["Title"] = "AddNewCourse";
}

<h1 style="text-align:center">Add New Course</h1>

<div class="form-group">
    <label for="Input_CourseID">Course Code</label>
    <input class="form-control" type="text" id="Input_CourseID" name="Input.CourseID" value="" style="width:200px" />
</div>

<div class="form-group">
    <label for="Input_CourseID">Course</label>
    <input class="form-control" type="text" id="Input_CourseName" name="Input.CourseID" value="" style="width:200px" />
</div>

<div class="form-group">
    <label for="Input_CourseDescription">Course Description</label>
    <input class="form-control" type="text" id="Input_CourseDescription" name="Input.Description" value="" style="width:200px" />
</div>

<div class="form-group">
    <label for="Input_Cost">Cost</label>
    <input class="form-control" type="text" id="Input_Cost" name="Input.Cost" value="" style="width:200px" />
</div>

<div class="form-group">
    <label for="Input_CourseIntake">Intakes</label>
    <input class="form-control" type="text" id="Input_CourseIntake" name="Input.Intake" value="" style="width:200px" />
</div>

<div class="form-group">
    <label for="Input_CourseLength">Course Length</label>
    <input class="form-control" type="text" id="Input_CourseLength" name="Input.Length" value="" style="width:200px" />
</div>

<button type="submit" class="btn btn-primary">Add Course</button>


