<div class="container">
    <nav class="navbar navbar-light bg-light">
        <span class="navbar-brand mb-0 h1" style="font-size:35px">Dashboard</span>
    </nav>
    <div class="row">

    </div>
</div>