
@{
    ViewData["Title"] = "Manage Users";
}

<h1>Track User Account Informations</h1>

<div class="row">
    @*<div class="col-lg-6 float-left">
            <div class="card-header"> <img class="card-img-top" src="~/image/PieChart.png" alt="Card image cap"></div>
        </div>
        <div class="col-lg-4 float-right">
            <div class="card text-center">
                <div class="card-columns h4"><abbr style="color:peru">Course 1</abbr></div>
                <div class="card-columns h4"><abbr style="color:peru">Course Duration:</abbr> 1h 30min </div>
                <div class="card-columns h4"><abbr style="color:peru">:</abbr> Running a company is inherently a risky business. But with a cohesive risk management program, you can reduce financial liability, protect your property and your people, and make sure you stay open for business—no matter what happens.</div>
                <div class="card-columns h4"><abbr style="color:peru">Coach Name:</abbr> Jodi Moore</div>
            </div>*@

    @*</div>*@
    @*<div class="col-lg-2 float-left"></div>*@


</div>

