@{
    ViewData["Title"] = "About Us";
}
<br />
<h2 class="text-center" style="color:darkslategray">@ViewData["Message"]</h2>
<br />

<img src="~/image/Heather-Gamble.png" style="width: 30%; float: left; margin-right:25px;" />

<div class="et_pb_text_inner" align="justify" style="font-weight: lighter; word-spacing: 7px; letter-spacing: 1px; margin-left:15px;">
    <p>Less than 1% of female founders achieve over a million dollars in annual revenue. Heather founded her first entrepreneurial venture and in less than 18 months, reached a million in revenue. This milestone enabled her to enjoy a smoother and more sustainable entrepreneurial journey. Heather attributes her success to her background of 20+ years working in professional sales and marketing with disruptive and innovative technologies. She gained a wealth of experience, climbing the corporate ladder at AT&amp;T by successfully bringing a series of innovative technologies to market and driving sustainable revenue streams. She held several VP of sales and marketing roles for leading and start-up technology companies by her late 30’s.</p>
    <p>Then the entrepreneurial desire took hold, grew quickly and opened up a path of career enlightenment, for years to come. She discovered entrepreneurship was a glorious path to freedom on all levels. Entrepreneurship gave her freedom to create, freedom to schedule her time, freedom to grow on all levels and lead a most bountiful life in every way. Her way wanted a world of work with meaning, lots of time for her family, girlfriends, walking in the rain and a ton of money on top was a bonus for it fuelled her many ideas. One idea in particular grew near and dear. She had to do something about it. From renting her first Church sanctuary where she spoke about women’s empowerment in 2011, to now, where she leads an on fire community of women entrepreneurs in Canada and Chile, Heather is one of Canada’s leading warriors for women’s equality, through entrepreneurship.</p>
    <p><span style="font-size: 17px;">Recently, The Business Professional Women’s Network (BPW Canada) and The Canadian Federation of Business and Professional Women recognized Women on the Move for their commitment to accelerate women’s start-ups, promote STEM industry procurement from Women led SMEs and to deliver on a vision to move 10,000 Canadian women on their million dollar entrepreneurial path.</span></p>
    <p><span>Today she travels between Canada and Chile, with a dedicated team, delivering the <span style="color: #e0c17d;">Moving to a Million™ </span>system to high value women entrepreneurs. This equips female founders to establish successful and sustainable business ventures. At 55 she feels fortunate, fearless and fiercely devoted to women’s equality, and economic independence through entrepreneurial success. Her vision is when she is 90, she will have thousands of women asking her one question “why did you only take us to a million?”</span></p>
</div>
