@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron text-center" style="background-color: #d0b68a;">
    <h2 style="color: #fdfdff; font-size: xx-large;">Putting 10,000 Women on the Path to Prosperity!</h2>
    <p style="color: #fdfdff; font-size: large;" class="container lead">Women on the Move is an empowerment place.  We provide essential “Get Started and Grow Business Services” for women entrepreneurs looking to build a sustainable, successful and significant business. Our space is suited for women entrepreneurs in early stages, across all industries, and serving B2B and B2C markets.</p>
    <p><a href="https://womenonthemove.club/moving-to-a-million/" class="btn btn-default btn-lg">Moving to a Million</a></p>
</div>

<div class="row">
    <div class="col-md-4 container">
        <h3>Latest News</h3>
        <div class="text-center">
            <img src="https://i0.wp.com/womenonthemove.club/wp-content/uploads/2019/03/TracyAI.png?w=1080&ssl=1" />
        </div>
        <h3>Tracy AI</h3>
        <p>
            Canada’s First Sales Coach powered by Artificial Intelligence (AI). Sales coaching and skills development solution for Female Entrepreneurs.
            <br /><br />
            IN KEEPING WITH THE OBJECTIVE OF <strong>ADVANCING THE EFFORTS OF WOMEN ENTREPRENEURS</strong>, WOMEN ON THE MOVE IS PROUD TO PRESENT
            <br /><br />
            <strong>TRACY AI – BETA PROGRAM</strong>
        </p>
    </div>
    <div class="col-md-4 container">
        <div class="text-center">
            <br /><br />
            <img src="https://i1.wp.com/womenonthemove.club/wp-content/uploads/2019/03/canwcc-logo.png?w=1080&ssl=1" />
            <br /><br />
        </div>
        <h3>Canadian Women's Chamber of Commerce</h3>
        <p>
            The Canadian Women’s Chamber of Commerce (CanWCC) is a national not-for-profit organization dedicated to advocacy, connection, and advancement for and on behalf of its members.
            CanWCC’s membership consists of women-identified entrepreneurs and businesses that are at least 50% women-owned and led.
            <br /><br />
            Women on the Move (WOM) community have the privilege to receive a special discount on CanWCC membership or renewal.
        </p>
        <p class="text-center"><a class="btn btn-default" href="https://womenonthemove.club/canadian-womens-chamber-of-commerce/">Read more &raquo;</a></p>
    </div>
    <div class="col-md-4 container">
        <div class="text-center">
            <img src="https://i1.wp.com/womenonthemove.club/wp-content/uploads/2019/01/VirtualGurus.png?w=1080&ssl=1" />
        </div>
        <h3>Virtual Gurus</h3>
        <p>
            Virtual Gurus is the largest female owned and operated virtual assistant firm in Canada and Women in the Move wants to make it much easier for you to work with us!
            <br /><br />
            If you are a member of Women on the Move community, we want to hear from you to see how we can help you grow your business faster then you were before!
        </p>
        <p class="text-center"><a class="btn btn-default" href="https://womenonthemove.club/virtual-gurus/">Read more &raquo;</a></p>
    </div>
</div>
