
@{
    ViewData["Title"] = "Discussion List";
}

<h1 class="text-md-left m-0 pb-lg-4">Discussions</h1>
<nav class="navbar navbar-expand-lg navbar-light bg-light">


    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="#">Discussion List</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Subscriptions</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container">

</div>